/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-gray-dark: #4e5659;
  --color-gray-darker: #28292b;
  --color-gray-darkest: #1a1d1d;
  --color-gray-light: #98a1a4;
  --color-gray-lighter: #cccccc;
  --color-gray-lightest: #e9e9e9;
  --color-primary: #ec3b33;
  --font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-secondary: 'Racing Sans One', cursive; }

.masthead {
  min-width: 375px;
  padding: 0; }
  .masthead__upper-wrapper {
    background: var(--color-primary); }
  .masthead__upper {
    align-items: center;
    display: flex;
    height: 75px;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    max-width: 1200px; }
    @media only screen and (min-width: 768px) {
      .masthead__upper {
        justify-content: flex-end; } }
    @media only screen and (min-width: 1200px) {
      .masthead__upper {
        justify-content: center; } }
  .masthead__logo {
    background: url(../img/logo-cool-movie-merch-mobile.png) no-repeat;
    background-size: contain;
    display: block;
    font-size: 0;
    height: 28px;
    left: 15px;
    position: absolute;
    width: 28px; }
    @media only screen and (min-width: 768px) {
      .masthead__logo {
        background-image: url(../img/logo-cool-movie-merch.png);
        left: 25px;
        width: 267px; } }
    @media only screen and (min-width: 1200px) {
      .masthead__logo {
        left: 0; } }
  .masthead__search {
    display: flex;
    margin: 0 60px 0 68px;
    max-width: 587px;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .masthead__search {
        margin: 0 25px 0 317px; } }
    @media only screen and (min-width: 1200px) {
      .masthead__search {
        margin: 0; } }
    @media only screen and (min-width: 768px) {
      .masthead__search::after {
        content: attr(data-movie-quote-placeholder);
        position: absolute;
        color: var(--color-gray-lighter);
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
        padding: 0 0 2px 20px;
        pointer-events: none;
        text-overflow: ellipsis;
        top: 11px;
        white-space: nowrap;
        width: calc(100% - 57px); } }
    .masthead__search:focus-within::after {
      font-size: 0; }
    .masthead__search input {
      border: none;
      border-radius: 37px 0 0 37px;
      color: var(--color-gray-darkest);
      flex-grow: 1;
      font-family: var(--font-primary);
      font-size: 14px;
      font-weight: bold;
      height: 35px;
      padding: 0 0 2px 20px; }
      .masthead__search input:focus:not(:focus-visible) {
        outline: 0; }
      .masthead__search input::placeholder {
        color: var(--color-gray-lighter); }
        @media only screen and (min-width: 768px) {
          .masthead__search input::placeholder {
            font-size: 0; } }
    .masthead__search button {
      background: #fff url(../img/icon-magnifying-glass.png) no-repeat center;
      background-size: 14px;
      border-radius: 0 37px 37px 0;
      border: none;
      cursor: pointer;
      font-size: 0;
      height: 37px;
      width: 37px; }
    .masthead__search input:focus + button {
      background-color: #e9e9e9; }
  .masthead__hamburger {
    background: url(../img/icon-hamburger-nav.png) no-repeat left center;
    background-size: 56px;
    border: none;
    font-size: 0;
    height: 28px;
    position: absolute;
    right: 15px;
    width: 28px; }
    @media only screen and (min-width: 768px) {
      .masthead__hamburger {
        display: none; } }
    .masthead__hamburger:focus:not(:focus-visible) {
      outline: 0; }
  .masthead__nav {
    display: none; }
    @media only screen and (min-width: 768px) {
      .masthead__nav {
        display: block; } }
    .masthead__nav--active {
      display: block; }
  .masthead__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0; }
    @media only screen and (min-width: 768px) {
      .masthead__nav-list {
        flex-direction: row;
        padding: 0; } }
    .masthead__nav-list li {
      font-size: 14px;
      text-align: center; }
      @media only screen and (min-width: 768px) {
        .masthead__nav-list li {
          margin: 0 10px; } }
      @media only screen and (min-width: 1200px) {
        .masthead__nav-list li {
          margin: 0 25px; } }
    .masthead__nav-list a {
      align-items: center;
      color: #fff;
      display: flex;
      font-weight: bold;
      height: 40px;
      justify-content: center;
      position: relative;
      text-decoration: none; }
      @media only screen and (min-width: 768px) {
        .masthead__nav-list a {
          height: 50px; } }
    .masthead__nav-list .active a,
    .masthead__nav-list li:hover a {
      color: var(--color-primary); }
      @media only screen and (min-width: 768px) {
        .masthead__nav-list .active a,
        .masthead__nav-list li:hover a {
          color: #fff; } }
    @media only screen and (min-width: 768px) {
      .masthead__nav-list .active a::after,
      .masthead__nav-list li:hover a::after {
        background: var(--color-primary);
        bottom: 0;
        content: '';
        height: 5px;
        position: absolute;
        width: 100%; } }

.subhead {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 15px 15px; }
  @media only screen and (min-width: 768px) {
    .subhead {
      padding: 0 25px 15px 25px; } }
  @media only screen and (min-width: 1200px) {
    .subhead {
      padding: 0 0 25px 0; } }
  .subhead__title {
    font-family: var(--font-secondary);
    font-size: 20px; }
    @media only screen and (min-width: 768px) {
      .subhead__title {
        font-size: 25px; } }
    @media only screen and (min-width: 1200px) {
      .subhead__title {
        font-size: 30px; } }
    .subhead__title span {
      font-size: 0; }
      @media only screen and (min-width: 768px) {
        .subhead__title span {
          font-size: inherit; } }
    .subhead__title small {
      color: var(--color-primary); }

.item-grid {
  background: #fff;
  border-top: 1px solid var(--color-gray-lightest); }
  .item-grid__list-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden; }
  .item-grid__list {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 -1px; }
    @media only screen and (min-width: 768px) {
      .item-grid__list {
        grid-template-columns: auto auto auto; } }
    @media only screen and (min-width: 1200px) {
      .item-grid__list {
        grid-template-columns: auto auto auto auto;
        margin: 0 -25px; } }

.hero__item,
.item-grid__item {
  border-bottom: 1px solid var(--color-gray-lightest);
  border-right: 1px solid var(--color-gray-lightest);
  padding: 15px; }
  @media only screen and (min-width: 768px) {
    .hero__item,
    .item-grid__item {
      padding: 25px; } }

.hero__image,
.item-grid__image {
  margin-bottom: 10px; }
  .hero__image img,
  .item-grid__image img {
    display: block;
    max-width: 100%; }

.hero__title,
.item-grid__title {
  display: -webkit-box;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }
  @media only screen and (min-width: 768px) {
    .hero__title,
    .item-grid__title {
      line-height: 1.5; } }
  .hero__title a,
  .item-grid__title a {
    color: var(--color-gray-darkest);
    display: block;
    text-decoration: none; }

.hero__price,
.item-grid__price {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }
  .hero__price span,
  .item-grid__price span {
    margin-right: 1px; }
  .hero__price a,
  .item-grid__price a {
    color: inherit;
    text-decoration: none; }

.hero__tags,
.item-grid__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px; }
  .hero__tags li,
  .item-grid__tags li {
    font-size: 10px;
    font-weight: bold;
    margin: 0 4px 4px 0;
    text-transform: uppercase; }
    .hero__tags li:last-child,
    .item-grid__tags li:last-child {
      margin-right: 0; }
  .hero__tags a,
  .item-grid__tags a {
    border: 2px solid var(--color-gray-lighter);
    border-radius: 13px;
    display: block;
    color: var(--color-gray-lighter);
    padding: 6px 12px;
    text-decoration: none; }
    .hero__tags a:hover,
    .item-grid__tags a:hover {
      color: var(--color-gray-darker);
      border-color: var(--color-gray-darker); }

.hero__more-details,
.item-grid__more-details {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 10px; }
  .hero__more-details a,
  .item-grid__more-details a {
    background: url(../img/icon-expand.png) no-repeat left center;
    background-size: 13px;
    color: var(--color-gray-dark);
    padding-left: 17px;
    text-decoration: none; }

.hero__button,
.item-grid__button {
  align-self: flex-start;
  background: var(--color-gray-darker);
  border: none;
  border-radius: 21px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 37px;
  text-decoration: none; }
  .hero__button:hover,
  .item-grid__button:hover {
    background: var(--color-primary); }

.hero {
  border-radius: 40px;
  margin: 0 0 25px 0;
  max-width: 1200px;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .hero {
      margin: 0 25px 25px 25px; }
      .hero::after {
        border: 4px solid var(--color-gray-lightest);
        border-radius: 40px;
        content: '';
        height: calc(100% - 8px);
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: calc(100% - 8px); } }
  @media only screen and (min-width: 1200px) {
    .hero {
      margin: 0 auto 50px auto; }
      .hero::after {
        background: url(../img/wave.svg) no-repeat;
        background-position-y: calc(100% - 16px); } }
  .hero__products {
    display: flex;
    overflow-x: scroll;
    position: re;
    scroll-snap-type: x mandatory; }
    @media only screen and (min-width: 768px) {
      .hero__products {
        display: unset;
        overflow: unset;
        scroll-snap-type: unset; } }
  .hero__product {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 5px;
    max-width: 80%;
    position: relative;
    scroll-snap-align: center; }
    @media only screen and (min-width: 768px) {
      .hero__product {
        display: none;
        flex-direction: row;
        margin-right: unset;
        max-width: unset; }
        .hero__product.hero__product--active {
          display: flex; } }
    .hero__product:first-child {
      margin-left: 15px; }
      @media only screen and (min-width: 768px) {
        .hero__product:first-child {
          margin-left: unset; } }
    .hero__product:last-child {
      border-right: 15px solid transparent; }
      @media only screen and (min-width: 768px) {
        .hero__product:last-child {
          border-right: none; } }
    .hero__product::after {
      border: 4px solid var(--color-gray-lightest);
      border-radius: 40px;
      content: '';
      height: calc(100% - 8px);
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: calc(100% - 8px); }
      @media only screen and (min-width: 768px) {
        .hero__product::after {
          border: none; } }
  .hero__image {
    align-items: flex-end;
    display: flex;
    margin-bottom: 0;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .hero__image {
        width: 50%; } }
    .hero__image::after {
      bottom: -20px;
      content: url(../img/wave.svg);
      position: absolute;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .hero__image::after {
          bottom: -80px;
          width: 200%; } }
      @media only screen and (min-width: 1200px) {
        .hero__image::after {
          content: none; } }
    .hero__image img {
      margin: 4px auto 0 auto;
      max-width: 100%; }
      @media only screen and (min-width: 768px) {
        .hero__image img {
          max-width: 100%; } }
      @media only screen and (min-width: 1200px) {
        .hero__image img {
          margin: 0; } }
  .hero__details {
    background: var(--color-gray-lightest);
    border-radius: 0 0 45px 45px;
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px 25px;
    z-index: 1; }
    @media only screen and (min-width: 768px) {
      .hero__details {
        align-self: center;
        background: none;
        border-radius: 0;
        padding: 25px 0;
        width: 50%; } }
    @media only screen and (min-width: 1200px) {
      .hero__details {
        padding: 0; } }
  .hero__title {
    padding-right: 10px;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 768px) {
      .hero__title {
        padding-right: 100px; } }
    @media only screen and (min-width: 1200px) {
      .hero__title {
        font-size: 18px;
        line-height: 1.25;
        padding-right: 250px; } }
  @media only screen and (min-width: 1200px) {
    .hero__price {
      font-size: 22px; } }
  .hero__tags a {
    border: 2px solid var(--color-gray-light);
    color: var(--color-gray-light); }
    @media only screen and (min-width: 768px) {
      .hero__tags a {
        border: 2px solid var(--color-gray-lighter);
        color: var(--color-gray-lighter); } }
  .hero__nav {
    align-items: center;
    background: var(--color-gray-lightest);
    border-radius: 0 0 36px 36px;
    display: none;
    height: 150px;
    justify-content: center;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 768px) {
      .hero__nav {
        display: flex; } }
    .hero__nav li:not(:last-child) {
      margin-right: 5px; }
    .hero__nav button {
      background: var(--color-gray-lighter);
      border: none;
      cursor: pointer;
      display: block;
      height: 100px;
      padding: 0;
      width: 100px; }
      .hero__nav button:focus:not(:focus-visible) {
        outline: 0; }
      .hero__nav button > * {
        pointer-events: none; }
    .hero__nav img {
      width: 100%; }

.aux {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 50px; }

.footer {
  border-top: 1px solid var(--color-gray-lightest);
  margin-top: -1px; }
  .footer__license-grid-wrapper {
    background: #fff;
    padding-top: 25px; }
    @media only screen and (min-width: 1200px) {
      .footer__license-grid-wrapper {
        padding-top: 50px; } }
  .footer__license-grid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px 25px 15px; }
    @media only screen and (min-width: 768px) {
      .footer__license-grid {
        padding: 0 25px 25px 25px; } }
    @media only screen and (min-width: 1200px) {
      .footer__license-grid {
        padding: 0 0 50px 0; } }
  .footer__license-grid-list {
    align-items: center;
    display: flex;
    margin-bottom: 25px; }
    .footer__license-grid-list:last-child {
      margin-bottom: 0; }
    .footer__license-grid-list li {
      padding: 0 5px; }
      @media only screen and (min-width: 768px) {
        .footer__license-grid-list li {
          padding: 0 20px; } }
      .footer__license-grid-list li:first-child {
        padding-left: 0; }
      .footer__license-grid-list li:last-child {
        padding-right: 0; }
    .footer__license-grid-list a {
      display: block; }
    .footer__license-grid-list img {
      width: 100%; }
  .footer__newsletter-wrapper {
    background: var(--color-gray-darkest);
    padding: 25px 0; }
    @media only screen and (min-width: 1200px) {
      .footer__newsletter-wrapper {
        padding: 50px 0; } }
  .footer__newsletter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .footer__newsletter {
        padding: 0 25px; } }
    @media only screen and (min-width: 1200px) {
      .footer__newsletter {
        flex-direction: row;
        padding: 0;
        text-align: left; } }
  .footer__newsletter-blurb h2 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 10px; }
    @media only screen and (min-width: 768px) {
      .footer__newsletter-blurb h2 {
        line-height: 1; } }
  .footer__newsletter-blurb h3 {
    color: var(--color-gray-light);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    padding: 0 30px; }
    @media only screen and (min-width: 768px) {
      .footer__newsletter-blurb h3 {
        line-height: 1;
        padding: 0; } }
  .footer__newsletter-form {
    display: flex;
    flex-grow: 1;
    margin-top: 20px; }
    @media only screen and (min-width: 1200px) {
      .footer__newsletter-form {
        margin-top: 0;
        padding-left: 50px; } }
    .footer__newsletter-form input {
      background: #fff url(../img/icon-email.png) no-repeat 20px center;
      background-size: 46px;
      border: none;
      border-radius: 53px 0 0 53px;
      color: var(--color-gray-darkest);
      flex-grow: 1;
      font-family: var(--font-primary);
      font-size: 18px;
      font-weight: bold;
      height: 51px;
      max-width: 190px;
      padding: 0 0 2px 75px; }
      @media only screen and (min-width: 768px) {
        .footer__newsletter-form input {
          background-position: 25px center;
          max-width: none;
          padding: 0 0 2px 80px; } }
      .footer__newsletter-form input:focus:not(:focus-visible) {
        outline: 0; }
      .footer__newsletter-form input::placeholder {
        color: var(--color-gray-lighter); }
    .footer__newsletter-form button {
      background: var(--color-primary);
      border-radius: 0 53px 53px 0;
      border: none;
      color: #fff;
      cursor: pointer;
      font-family: var(--font-primary);
      font-size: 18px;
      font-weight: bold;
      height: 53px;
      padding: 0 15px 2px 15px;
      white-space: nowrap; }
      @media only screen and (min-width: 768px) {
        .footer__newsletter-form button {
          padding: 0 25px 2px 25px; } }
      .footer__newsletter-form button::after {
        content: 'Join!'; }
        @media only screen and (min-width: 768px) {
          .footer__newsletter-form button::after {
            content: none; } }
      .footer__newsletter-form button span {
        font-size: 0; }
        @media only screen and (min-width: 768px) {
          .footer__newsletter-form button span {
            font-size: 18px; } }
  .footer__links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px 0; }
    @media only screen and (min-width: 768px) {
      .footer__links {
        flex-direction: row;
        padding: 25px; } }
    @media only screen and (min-width: 1200px) {
      .footer__links {
        padding: 50px 0; } }
  .footer__links-logo {
    background: url(../img/logo-cool-movie-merch-color-primary.png) no-repeat;
    background-size: contain;
    display: block;
    font-size: 0;
    height: 28px;
    margin: 0 auto 25px auto;
    width: 267px; }
    @media only screen and (min-width: 768px) {
      .footer__links-logo {
        margin: 0; } }
  .footer__links-list {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .footer__links-list {
        margin: 0 0 0 100px;
        text-align: left; } }
    @media only screen and (min-width: 1200px) {
      .footer__links-list {
        margin: 0 0 0 150px; } }
    .footer__links-list:last-child::before {
      content: '\b7\a0';
      color: var(--color-gray-light); }
      @media only screen and (min-width: 768px) {
        .footer__links-list:last-child::before {
          content: ''; } }
    .footer__links-list li:not(:last-child) {
      margin-bottom: 10px; }
    .footer__links-list a {
      color: var(--color-gray-light);
      font-size: 15px;
      margin-bottom: 25px;
      text-decoration: none; }
      .footer__links-list a:hover {
        color: #fff; }
  .footer__social-wrapper {
    border-top: 1px solid var(--color-gray-dark);
    padding: 25px 0; }
    @media only screen and (min-width: 768px) {
      .footer__social-wrapper {
        padding: 25px; } }
    @media only screen and (min-width: 1200px) {
      .footer__social-wrapper {
        padding: 25px 0; } }
  .footer__social {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px; }
    @media only screen and (min-width: 768px) {
      .footer__social {
        flex-direction: row; } }
    .footer__social small {
      color: var(--color-gray-light);
      font-size: 15px;
      order: 2; }
      @media only screen and (min-width: 768px) {
        .footer__social small {
          order: 1; } }
  .footer__social-links {
    display: flex;
    margin-bottom: 15px;
    order: 1; }
    @media only screen and (min-width: 768px) {
      .footer__social-links {
        margin-bottom: 0;
        order: 2; } }
    .footer__social-links li:not(:last-child) {
      margin-right: 10px; }
    .footer__social-links a {
      background: url(../img/icons-social.png) no-repeat;
      background-size: 96px;
      display: block;
      font-size: 0;
      height: 24px;
      width: 24px; }
      .footer__social-links a:hover {
        background-position-y: -24px; }
    .footer__social-links .facebook a {
      background-position-x: -24px; }
    .footer__social-links .twitter a {
      background-position-x: -48px; }
    .footer__social-links .pinterest a {
      background-position-x: -72px; }

body {
  background: var(--color-gray-darker);
  color: var(--color-gray-darkest);
  font-family: var(--font-primary);
  min-width: 375px; }

main {
  background: #fff;
  padding-top: 25px; }
  @media only screen and (min-width: 1200px) {
    main {
      padding-top: 50px; } }
