/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Universal Box Sizing with Inheritance
	 https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #f7f7f7;
  padding: 25px 20px; }
  @media only screen and (min-device-width: 415px) {
    body {
      padding: 50px 20px; } }

.container {
  margin: 0 auto;
  max-width: 980px; }

header h1 {
  font-size: 0; }

header img {
  display: block;
  margin: 0 auto;
  width: 150px; }

.items {
  margin-top: 25px; }
  @media only screen and (min-device-width: 415px) {
    .items {
      margin-top: 50px; } }
  .items__hero {
    background: #fff;
    height: 200px; }
    @media only screen and (min-device-width: 600px) {
      .items__hero {
        height: 300px; } }
    @media only screen and (min-device-width: 900px) {
      .items__hero {
        height: 400px; } }
    .items__hero a {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center; }
      .items__hero a h2 {
        font-size: 0; }
      .items__hero a img {
        max-height: 100%;
        max-width: 100%; }
  .items__grid {
    margin-top: 25px; }
    @media only screen and (min-device-width: 415px) {
      .items__grid {
        margin-top: 50px; } }
  .items__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
    @media only screen and (min-device-width: 600px) {
      .items__list {
        grid-template-columns: repeat(3, 1fr); } }
    @media only screen and (min-device-width: 900px) {
      .items__list {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px; } }
  .items__item {
    background: #fff; }
    .items__item a {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center; }
      .items__item a h2 {
        font-size: 0; }
      .items__item a img {
        max-height: 100%;
        max-width: 100%; }

footer {
  border-top: 1px solid #2c2d2d;
  color: #2c2d2d;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  padding-top: 10px; }
  @media only screen and (min-device-width: 415px) {
    footer {
      margin-top: 50px; } }
