.hero,
.item-grid {
  
  &__item {
    border-bottom: 1px solid var(--color-gray-lightest);
    border-right: 1px solid var(--color-gray-lightest);
    padding: 15px;

    @include tablet {
      padding: 25px;
    }
  }
  
  &__image {
    margin-bottom: 10px;
  
    img {
      display: block;
      max-width: 100%;
    }
  }
  
  &__title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 10px;

    @include tablet {
      line-height: 1.5;
    }
  
    a {
      color: #000;
      display: block;
      text-decoration: none;
    }
  }
  
  &__price {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  
    span {
      margin-right: 1px;
    }
  }
  
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
  
    li {
      font-size: 10px;
      font-weight: bold;
      margin: 0 4px 4px 0;
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    a {
      border: 2px solid var(--color-gray-lighter);
      border-radius: 13px;
      display: block;
      color: var(--color-gray-lighter);
      padding: 6px 12px;
      text-decoration: none;
  
      &:hover {
        color: var(--color-gray-darker);
        border-color: var(--color-gray-darker);
      }
    }
  }
  
  &__more-details {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
  
    a {
      background: url(../img/icon-expand.png) no-repeat left center;
      background-size: 13px;
      color: var(--color-gray-dark);
      padding-left: 17px;
      text-decoration: none;
    }
  }
  
  &__button {
    align-self: flex-start;
    background: var(--color-gray-darker);
    border: none;
    border-radius: 21px;
    color: #fff;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 37px;
  
    &:hover {
      background: var(--color-primary);
    }
  }
}