.item-grid {
  background: #fff;
  border-top: 1px solid var(--color-gray-lightest);

  &__list-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
  }
  
  &__list {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 -1px;

    @include tablet {
      grid-template-columns: auto auto auto;
    }
    
    @include desktop {
      grid-template-columns: auto auto auto auto;
      margin: 0 -25px;
    }
  }
}