@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

:root {
  --color-gray-dark: #4e5659;
  --color-gray-darker: #28292b;
  --color-gray-darkest: #1a1d1d;
  --color-gray-light: #98a1a4;
  --color-gray-lighter: #cccccc;
  --color-gray-lightest: #e9e9e9;
  --color-primary: #ec3b33;

  --font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-secondary: 'Racing Sans One', cursive;
}