@import 'reset';
@import 'variables';
@import 'masthead';
@import 'footer';

body {
  background: var(--color-gray-darker);
  color: var(--color-gray-darkest);
  font-family: var(--font-primary);
}

main {
  background: #fff;
  padding: 50px 0;
  text-align: center;

  div {
    padding: 300px 0;
    background: #f7f7f7;
    width: 1200px;
    margin: 0 auto;
  }
}