@import 'reset';
@import 'variables';
@import 'masthead';
@import 'hero';
@import 'footer';

body {
  background: var(--color-gray-darker);
  color: var(--color-gray-darkest);
  font-family: var(--font-primary);
}

main {
  background: #fff;

  padding: 50px 0;
}

.item-grid {
  background: #fff;
  border-bottom: 1px solid var(--color-gray-lightest);
  border-top: 1px solid var(--color-gray-lightest);
  padding: 500px 0;
  text-align: center;
}